html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-image: url('../resources/background.JPG');
    background-size: 100% 160%;
    background-repeat: no-repeat;
    /*margin-bottom: -40px;
    display: block;*/
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: rest;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}

/* My Code */

@font-face {
    font-family: headings;
    src: url('../resources/MotionPicture_PersonalUseOnly.ttf');
}

@font-face {
    font-family: rest;
    src: url('../resources/CaviarDreams_Italic.ttf');
}

html, body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 140px;
    background-color: #204060;
}

header nav {
    float: right;
}

header nav ul {
    margin-top: 60px;

}

header nav ul li{
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a{
    font-family: rest;
    font-size: 24px;
    color: white;

}

body#about-me {
    margin-bottom: -40px;
    display: block;
    background-color: #336699;
    color: white;
    font-family: rest;
    font-size: 18px;
    text-align: center;
}

body#skills {
    margin-bottom: -40px;
    display: block;
    background-color: #336699;
    color: white;
}


body#hobbies {
    margin-bottom: -40px;
    display: block;
    background-color: #336699;
    color: white;
    font-family: rest;
    font-size: 26px;
    background-size: 100% 250%;
}


body#contact {
    margin-bottom: -40px;
    display: block;
    background-color: #336699;
    color: white;
    text-align: center;
    background-size: 100% 180%;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}

.about-me {
    padding-bottom: 250px;
}

.skills {
    padding-bottom: 250px;
}

.skills h1 {
    font-family: rest;
    font-size: 40px;
    text-align: center;
    padding: 60px 0px;
    color: white;
}
.skills ul{
    list-style-type: none;

}

.skills ul li{

    font-family: rest;
    font-size: 30px;
    text-align: center;
}

.contact {
    padding-bottom: 250px;
}

.contact h1 {
    font-family: rest;
    font-size: 40px;
    text-align: center;
    padding: 60px 0px;
    color: white;
}

.hobbies h1 {
    font-family: rest;
    font-size: 40px;
    text-align: center;
    padding: 60px 0px;
    color: white;
}

.about-me h1 {
    font-family: rest;
    font-size: 40px;
    text-align: center;
    padding: 60px 0px;
    color: white;
}

.hobbies {
    padding-bottom: 250px;
}

textarea {
    height: 100px;
}

input, textarea {
    margin-bottom: 10px;
    font-size: 20px;
    padding: 20px 0px;
    background-color: white;
    border-radius: 10px;
    border-color: darkcyan;
    width: 45%;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit {
    background-color: #204060;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    font-family: rest;
    color: white;
}

.judo
{
    text-align: right;
    padding: 40px 0;
}
.judo img {
    position: absolute;
    left: 150px;
    top: 350px;
    height: 30%;
    width: 30%;
}

.bjj {
    text-align: center;
}

.ski {
    text-align: left;
    padding: 40px 0;
    top: 1400px;
}

.ski img {
    position: absolute;
    right: 150px;
    top: 1000px;
    height: 30%;
    width: 30%;
}

footer {

    background-color: #204060;
    width: 100%;
    height: 50px;
    margin-top: 100px;
    color: white;
}

footer {
    font-family: rest;
    font-size: 16px;
    color: white;
    text-align: left;

}

footer a{
    color: white;
}
